{% for item in manifest_items['files'] %}
{%   set item_cleaned = item['path'] | regex_replace(repo_build_base_path ~ "/", '') %}
{%   set item_basename = item_cleaned | basename %}
{%   if item_cleaned | match(repo_build_release_version_path + "/.*/.*\.whl") %}
{{ repo_build_pool_dir | regex_replace(repo_build_base_path ~ "/", '') }}/{{ item_basename.split('-')[0] }}/{{ item_basename | lower }}
{{ item_cleaned | lower }}
{%   else %}
{{ item_cleaned }}
{%   endif %}
{% endfor %}
{% for item in manifest_git_items['files'] %}
{{ item['path'] | regex_replace(repo_build_base_path ~ "/", '') }}
{% endfor %}
