{% for item in manifest_items['files'] %}
{%   set item_cleaned = item['path'] | regex_replace(repo_build_base_path ~ "/", '') %}
{%   set item_basename = item_cleaned | basename %}
{%   if item_cleaned | match(repo_build_release_version_path + "/.*/.*\.whl") %}
{{ repo_build_pool_dir | regex_replace(repo_build_base_path ~ "/", '') }}/{{ item_basename.split('-')[0] }}/{{ item_basename | lower }}
{{ item_cleaned | lower }}
{%   else %}
{{ item_cleaned }}
{%   endif %}
{% endfor %}
{% for clone_item in local_packages['results'][0]['item']['remote_package_parts'] %}
{{ repo_build_git_dir | basename }}/{{ clone_item['name'] }}
{% endfor %}
