#!/usr/local/env bash

set -ev

PID=()
{% for item in local_requirement_normalized %}
    yes i | pip install --timeout {{ repo_build_timeout }} \
                        --download {{ repo_build_output }} \
                        --no-binary :all: \
                        --constraint {{ repo_build_release_path }}/{{ repo_build_release_tag }}/requirements_constraints.txt \
                        {% if repo_build_pip_default_index is defined %}
                        --index-url {{ repo_build_pip_default_index }} \
                        --trusted-host {{ repo_build_pip_default_index | netloc_no_port }} \
                        {% endif -%}
                        {% if repo_build_pip_extra_index is defined %}
                        --extra-index-url {{ repo_build_pip_extra_index }} \
                        --trusted-host {{ repo_build_pip_extra_index | netloc_no_port }} \
                        {% endif -%}
                        {% if repo_build_pip_extra_indexes is defined %}
                        --extra-index-url {{ repo_build_pip_extra_indexes | join(' --extra-index-url ') }} \
                        --trusted-host {{ repo_build_pip_extra_indexes | map('netloc_no_port') | join(' --trusted-host ') }} \
                        {% endif -%}
                        --log /var/log/repo/repo_builder.log \
                        "{{ item }}"
    pid[{{ loop.index }}]=$!

{% if loop.index is divisibleby(repo_build_concurrency | int) or loop.last %}
    for job_pid in ${!pid[@]}; do
        wait ${pid[$job_pid]} || exit 99
    done
{% endif %}

{% endfor %}
